            html, body {
                background-color: #cccccc;
                margin: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
            #map {
                margin: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                float:left;
            }
            #text {
                position: absolute;
                bottom: 1em;
                left: 1em;
                width: 512px;
                z-index: 20000;
                background-color: white;
                padding: 0 0.5em 0.5em 0.5em;
            }
            div{
            z-index: 3;
            }
            #controlButton{
            position: absolute;
            top: 90%;
            left: 10%;
            }
            #radioAlgorithm{
            
            
            }
            #radioRoutingmetric{
            
            
            }
            #settings{
            
            }
            #allSettings{
            position: absolute;
            top: 10px;
            left: 80%;
            z-index: 1;
            height: 95%;
            visibility: hidden;
            }
