            html, body {
                background-color: #cccccc;
                margin: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                 font-size: small;
            }
            #map {
                margin: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                float:left;
            }
            #text {
                position: absolute;
                bottom: 1em;
                left: 1em;
                width: 512px;
                z-index: 20000;
                background-color: white;
                padding: 0 0.5em 0.5em 0.5em;
            }
            div{
            z-index: 3;
            }
            #controlButton{
            position: absolute;
            top: 90%;
            left: 10%;
            max-width:50%;
            }
            #radioAlgorithm{
            
            }
            #radioRoutingmetric{
            
            }
            #settingsSimpleheight{
            position: absolute;
            visibility: hidden;
            left: 80%;
            right: 3%;
            top: 52%;
            z-index: 3;
            background-color: #cccccc;
            opacity: 0.8;
            overflow: auto;
            -khtml-border-radius: 10px;
            -moz-border-radius: 10px;
            }
            #settingsNew{
            position: absolute;
            visibility: hidden;
            left: 80%;
            right: 3%;
            top: 85%;
            max-height: 14%;
            z-index: 3;
            background-color: #cccccc;
            opacity: 0.8;
            overflow: auto;
            -khtml-border-radius: 10px;
            -moz-border-radius: 10px;
            }
            #settingsBikers{
            position: absolute;
            visibility: hidden;
            right: 22%;
            max-width: 13%;
            top: 85%;
            max-height: 13%;
            z-index: 3;
            background-color: #cccccc;
            opacity: 0.8;
            overflow: auto;
            -khtml-border-radius: 10px;
            -moz-border-radius: 10px;
            }
            #settingsPowermetric{
            position: absolute;
            visibility: hidden;
            left: 80%;
            right: 3%;
            top: 52%;
            max-height: 35%;
            z-index: 3;
            background-color: #cccccc;
            opacity: 0.8;
            overflow: auto;
            -khtml-border-radius: 10px;
            -moz-border-radius: 10px;
            }
            #mainSettings{
            position: absolute;
            left: 80%;
            right: 3%;
            top: 5%;
            max-height: 45%;
            z-index: 3;
            visibility: hidden;
            background-color: #cccccc;
            opacity: 0.8;
            overflow: auto;
            -khtml-border-radius: 10px;
            -moz-border-radius: 10px;
            }
            #display{
            position: absolute;
            left: 3%;
            max-width: 25%;
            top: 65%;
            max-height: 25%;
            z-index: 3;
            visibility: visible;
            background-color: #cccccc;
            opacity: 0.8;
            overflow: auto;
            -khtml-border-radius: 10px;
            -moz-border-radius: 10px;
            }
